{{!< default }}

<section id="page-header">
    <div class="row current-cat py-5">
        <div class="col-full">
            <h1 class="error-code">{{error.statusCode}}</h1>
            <p class="error-description">{{message}}</p>
            <a class="error-link" href="{{@site.url}}">{{t "Go to the front page →"}}</a>
        </div>
    </div>
</section>